.topleft {
	position: absolute;
	top: 8px;
	left: 16px;
	font-size: 18px;
}

.topright{ 
	position: absolute;
	top: 8px;
	right: 16px;
	font-size: 18px;
}

.bottomleft {
	position: absolute;
	bottom: 8px;
	left: 16px; 
	font-size: 18px;
}

.bottomright { 
	position: absolute;
	bottom: 0%;
	right: 16px;
	font-size: 18px;
}

.search {
	padding: 70px 0;
	text-align: center;
}

.uwbutton {
	background-color: blue;
	border: 1px solid grey;
	border-radius: 7px;
	color: white;
	padding: 10px 25px;
	font-size: 16px;
	cursor: pointer;
}

.wubutton {
	background-color: white;
	border: 1px solid grey;
	border-radius: 7px;
	color: blue;
	padding: 10px 25px;
	font-size: 16px;
	cursor: pointer;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: purple;
	text-decoration: underline;
}

input:focus, textarea:focus {
	background: #eee;
}

